<%- include('../partials/header') %>

<div class="row">
    <% if (favouritesByCountry) { %>
        <% Object.keys(favouritesByCountry).forEach(function (country) { %>
          <h2><%= country %></h2>
          <div class="row">
            <% favouritesByCountry[country].forEach(function (favourite) { %>
              <div class="col-md-3 mb-4">

                <div class="card recipe">
                    
                    <% if (favourite.image) { %>
                        <a href="/recipes/<%= favourite._id %>">
                        <img src="<%= favourite.image %>" class="card-img-top recipeImg" alt="<%= favourite.title %>">
                        </a>
                    <% } else { %>
                        <p>Recipe details not available</p>
                    <% } %>

                    <div class="card-body">
                        <% if (favourite) { %>
                        <a href="/recipes/<%= favourite._id %>" class="card-title"><%= favourite.title %></a>
                        <% } else { %>
                        <p>Recipe details not available</p>
                        <% } %>

                        <% if (fave && fave.length > 0) { %>
                            <% const matchingFaves = fave.filter(fav => fav.recipe._id.equals(favourite._id)); %>
                            <% matchingFaves.forEach(function(fav) { %>
                                <div class="text-info">
                                Added on <%= fav.addedDate.toLocaleDateString() %>
                                <%= console.log('fav id:', fav._id) %>
                                </div>
                                <form action="/favourites/<%= fav._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            <% }); %>

                        <% } %>

                    </div>
                </div>
              </div>
            <% }); %>
          </div>
        <% }); %>
        
      <% } else { %>
        <p>No favourites available</p>
      <% } %>
</div>

<%- include('../partials/footer') %>