<%- include('../partials/header') %>
<section class="container col-md-8">
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" class="container">            
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= recipe.title %>">
        </div>

        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients:</label>
            <input type="text" class="form-control" id="ingredients" name="ingredients" value="<%= recipe.ingredients %>">
        </div>

        <div class="mb-3">
            <label for="instructions" class="form-label">Instructions:</label>
            <input type="text" class="form-control" id="instructions" name="instructions" value="<%= recipe.instructions %>">
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country of Origin:</label>
            <select class="form-select" id="country" name="country">
            <% const countries = ["East Asian", "South Asian", "North Asian", "Central Asian", "West Asian", "South East Asian", "European", "North American", "South American", "African", "Oceanian", "Other"]; %>
            <% countries.forEach(country => { %>
            <option value="<%= country %>" <%= recipe.country === country ? 'selected' : '' %>><%= country %></option>
            <% }); %>
    </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Recipe</button>
    </form>
</section>

<%- include('../partials/footer') %>