<%- include('../partials/header') %>
<section class="container col-md-8">
    <h2 class="recipeTitle"><%= recipe.title %></h2>
    <div class="mb-3">
        <img src="<%= recipe.image %>" class="img-fluid recipeImgDetail" alt="image of this recipe">
    </div>

    <div class="mb-3">Ingredients:</div>
    <div class="mb-3"><%= recipe.ingredients %></div>
    
    <div class="mb-3">Instructions:</div>
    <div class="mb-3"><%= recipe.instructions %></div>

    <% if (user) { %>

    <form action="/favourites/<%= recipe._id %>/add" method="POST">
        <div>
            <button class="btn btn-primary btn-block mb-3">Add to Favorites</button>
        </div>
    </form>
    
    <div>
        <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-secondary btn-block mb-3">Edit Recipe</a>
    </div>
    <div>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit" class="btn btn-danger btn-block mb-3">Delete Recipe</button>
        </form>
    </div>


    <div class="text-info fs-3 mb-3">Reviews:</div>

    <form id="" method="POST" action="/recipes/<%= recipe._id %>/reviews" class="mb-3">
        <label for="reviewContent">Review:</label>
        <textarea name="content" id="reviewContent" class="form-control mb-3"  placeholder="Enter your review here"></textarea>
        <label for="reviewRating">Rating:</label>
        <select name="rating" id="reviewRating" class="form-select mb-3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="submit" value="Add Review" class="btn btn-primary">
    </form>

    <% } else { %>
        <div class="text-info fs-3 mb-3" placeholder="Enter your review here">Reviews:</div>

    <% } %>

    <% if (recipe.reviews.length) { %>
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% let total = 0 %>
            <% recipe.reviews.forEach(function(r) { %>
                <% total += r.rating %>
                <tr>
                    <td class="review-user"><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.content %></td>
                    <td><%= r.rating %></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                            <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">X</button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
            <tr>
                <td colspan="3"></td>
                <td><strong><%= (total / recipe.reviews.length).toFixed(1) %></strong></td>
            </tr>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>
</section>

<%- include('../partials/footer') %>